* {
    margin: 0;
    padding: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body {
    background: rgb(77,75,75);
    background: linear-gradient(180deg, rgba(77,75,75,1) 0%, rgba(43,43,43,1) 56%, rgba(0,0,0,1) 100%); 
    height: auto;
    width: 100%;
}

h1 {
    color: rgb(255, 255, 255);
    font-size: 3em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 40px;
    background-color: #1DB954;
    padding-bottom: 40px;
}

.profile-image {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 300px;
    height: 300px;
    box-shadow: 0 30px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

h2 {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    margin: 0;
    padding: 0;
    text-align: center;
    padding-top: 50px;
    padding-bottom: 50px;
}

.currently-playing {
    text-align: center;
}

.currently-playing__image img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 300px;
    height: 300px;
    box-shadow: 0 30px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.currently-playing__song {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

.top-artists {
    text-align: center;
}

.top-artists__artist {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    display: inline-block;
    width: 33.33%;
    padding-top: 50px;
    padding-bottom: 50px;
    box-sizing: border-box;
}
    
.top-artists__artist__image img {
    display: inline-block;
    width: 300px;
    height: 300px;
    transform: rotateX(10deg) rotateY(10deg);
    box-shadow: 0 30px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

    
.top-artists__artist__name {
    color: rgb(255, 255, 255);
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    padding-top: 50px;
}

