<!DOCTYPE html>

<html>
    <head>
        <title>My Spotify</title>
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    </head>
</html>

<body>
    <h1>{{ display_name }}'s Spotify</h1>
    <image class="profile-image" src="{{ display_image }}" alt="Profile Image">
    <h2>Currently Playing</h2>
    <div class="currently-playing">
        <div class="currently-playing__image">
            <img src="{{ display_currently_playing_image }}" alt="Album Art">
        </div>
        <div class="currently-playing__song">
           {{ display_currently_playing }}
        </div>
    </div>
</body>
